<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
</head>

<body>
    <h1>Chatroom</h1>
    <div class="title" id="userName1">
        <%= username %>
    </div>
    <ul id="messages" class="messages">
        <% chats.forEach((chat)=> { %>
            <li>
                <%= "From:" + chat.sender + chat.message %>
            </li>
            <hr />
        <% }) %>
    </ul>
    <div>
        <input id="message" name="message" placeholder="Type your message here..." autocomplete="off" />
    </div>
    <button onclick="sendMessage()">
        Send
    </button>

    <a href="/logout">Log out</a>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index-cdn.js"></script>
    <script>
        const socket = io.connect('http://localhost:4000')
        socket.on('connection')

        socket.on("message", (data) => {
            console.log(data.sender)
            let messages = document.getElementById("messages");
            let li = document.createElement("li");
            li.appendChild(document.createTextNode("From:" + data.sender + " " + data.message));
            messages.appendChild(li);
        });

        const sendMessage = () => {
            socket.emit('message', { message: $("#message").val(), sender: $("#userName1").text() })
            $("#message").val("");
        };
    </script>
</body>

</html>